:root{
    --font-first:#048853;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #F3FFF4;
}

/* navbar */

.navbar{
    z-index:999;
}

*{
    z-index:2;
    box-sizing: border-box;
}

.navbar-brand{
    font-weight: bold;
    font-size: 20px;
}

.nav-link .active{
    font-size:16px;
    font-weight:bold;
}

.nav-link{
    font-size:16px;
}

.register{
    padding:8px 37px;
    width:133px;
    height:40px;
    border:none;
    background-color:transparent;
    color:#fff;
    font-weight:400;
}

.login{
    padding:8px 37px;
    width:133px;
    height:40px;
    font-weight:bold;
    color:var(--font-first);
    background-color:#fff;
    border:none;
}
/* end navbar */

/* section hero */

#hero{
    background:linear-gradient(160deg, var(--font-first), #000);
    height:100vh;
    width:100%;

    .layer2{
        height:100%;
        z-index:1;
    }

    .layer1{
        height: 100%;
        z-index:1;
    }
    
    .tittle-hero{
        color:#fff;
        margin-bottom:20px;
        font-size:52px;
        font-weight:bold;
        line-height:72px
    }

    .deskripsi-hero{
        color:#fff;
        margin-bottom:40px;
        font-size:16px;
        line-height:30px;
        width:75%;
    }

    .tombol-hero{
        width:237px;
        height:70px;
        border:none;
        background-color:#fff;
        color:var(--font-first);
        font-size:16px;
        font-weight:bold;
    }
}
/* end section hero */

/* section layanan */

#section-layanan{
    padding: 100px 0;

    h2{
        font-size: 48px;
        font-weight: 500;
        color: var(--font-first);
    }

    .sub-title{
        font-size: 18px;
        color: #000;
    }

    .card-layanan{
        width: 100%;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }

    .icon-circle{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: var(--font-first);
    }

    h3{
        font-size: 24px;
        font-weight: 500;
        color: var(--font-first);
    }

    p{
        font-size: 14px;
        font-weight: 400;
        color: #000;
    }

    .card-layanan:hover{
        width: 100%;
        padding: 40px;
        background: linear-gradient(var(--font-first), #000);
        box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        transition: all .1s ease-in;

        .icon-circle{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #fff;
            transition: all .2s ease-in;
        }

        h3{
            font-size: 24px;
            font-weight: 500;
            color: #fff;
            transition: all .3s ease-in;
        }

        p{
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            transition: all .4s ease-in;
        }
    }



}

/* end section layanan */

/* section search */

#section-search{
    background-image: url(../assets/img/bg-search.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    h2{
        font-size: 48px;
        font-weight: 600;
        color: #fff;
    }

    p{
        font-size: 24px;
        color: #fff;
    }

    .nav-tabs{
        border: none;
           
        /* .nav-link{
            background-color: #fff;
            opacity: 80%;
        } */
    
        .jual{
            color: var(--font-first);
            border-radius: 9px 0 0 0;
            font-size: 18px;
            background-color: #fff;
            opacity: 80%;
            border-bottom: none;
        }
    
        .sewa{
            color: #000;
            font-size: 18px;
            background-color: #fff;
            opacity: 60%;
            border-bottom: none;
        }
    
        .property{
            color: #000;
            font-size: 18px;
            border-radius: 0 9px 0 0;
            background-color: #fff;
            opacity: 60%;
            border-bottom: none;
        }
    }


    .input-search{
        height: 88px;
        background-color: #fff;
        opacity: 80%;
        border-radius: 0 0 0 9px;
    }

    .input-search:focus {
        border: none;
    }

    .btn-home{
        width: 200px;
        height: 88px;
        border: none;
        color: var(--font-first);
        font-size: 18px;
        border-radius: 0 0 0 9px;
        background-color: #fff;
        opacity: 80%;
    }

    .btn-harga{
        width: 200px;
        height: 88px;
        border: none;
        color: var(--font-first);
        background-color: #fff;
        opacity: 80%;
    }

    .inputan{
        border: none;
    }

    .btn-cari{
        width: 135px;
        background-color: var(--font-first);
        color: #fff;
        font-size: 36px;
        font-weight: 500;
        border: none;
    }

}

/* end section search */